.carousel{
  height: 1000px;
  width: 1000px;
  
}

.carousel-item{
  height: 60vh;
  width: 100%;
  color: brown;
}
.divs1{
  height: 1000px;
  width: 1000px;
}
.card-1{
  /* background-image: url(./images/seven.jpg); */
  background-position:center;
  /* background-size: cover; */
  background-repeat: no-repeat;
  
}
.card-2{
  /* background-image: url(images/six.jpg); */
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.card-3{
  /* background-image: url(images/three.jpg); */
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}