.huddle_header{
margin-top: 20px;
display: flex;
justify-content: space-between;
}
.span_header{
    color:black;
    font-weight: bold;
    font-size: 30px;
}
.try{
    padding: 5px;
    border-radius: 20px;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    background-color: white;
    width: 100px;
}

.huddle_header2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-content: center;
    margin-left: 200px;
    width: 60%;
    }

.huddle_header2h1{
    color: black;
    font-weight: bold;
    font-size: 30px;
    
}
.huddle_header2p{
    text-align: center;
}
.huddle_header2b{
    background-color:hsl(321, 100%, 78%);
    color: white;
    width: 40%;
    align-content: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    margin-left: 150px;
}

.huddle_section{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 40px;
    width: 60%;
}
.huddle_sectionleft{
    display: flex;
    flex-direction: column;
}